body, html{
    height: 100%;
}

#mainImage {
    background-image: url("concert.jpg");
    height: 100%;
}

.keyboard {
    border: 2px solid black;
    padding: 2%;
    position: relative;
    float: left;    
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
}